<div class="row" *ngIf="movie">
  <div class="col-md-4">
    <figure>
      <img class="img-fluid" [src]="movie.poster_path | noImage" alt="" />
    </figure>
  </div>
  <div class="col-md-8">
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.overview }}</p>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Titulo Original</h5>
            <p class="card-text">{{ movie.original_title }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Popularidad</h5>
            <p class="card-text">{{ movie.popularity }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Votos</h5>
            <p class="card-text">{{ movie.vote_count }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Promedio de votos</h5>
            <p class="card-text">{{ movie.vote_average }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-genero" *ngIf="movie.genres">
        <div class="col-md-4">
            <h5 class="text-muted">Generos</h5>
        </div>
        <div class="col-md-8">
            <ul class="list-group list-group-horizontal-md">
            <li class="list-group-item" *ngFor="let gen of movie.genres">{{ gen.name }}</li>
            </ul>
        </div>
    </div>
    <div class="row mt-5 mb-5" *ngIf="video">
        <div class="col-md-12 text-center">
          <iframe
            width="560"
            height="315"
            [src]="video[0].key | domYoutube"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>

      
  </div>
</div>
