<div class="row" *ngIf="movie">
  <div class="col-md-4">
    <div class="sticky-col">
      <figure>
        <img class="img-fluid" [src]="movie.poster_path | noImage" alt="" />
      </figure>
      <div class="released mb-4">
        <span>Fecha de Lanzamiento</span>
        <span>{{ movie.release_date }}</span>
      </div>
      <button class="btn btn-outline-info" *ngIf="!parametros.query" [routerLink]="[ '/' ]" (click)="resetForm()">
        <i class="fa fa-long-arrow-left mr-1" aria-hidden="true"></i>
        Volver
      </button>

      <button class="btn btn-outline-info" *ngIf="parametros.query" [routerLink]="[ '/buscar',parametros.query ]" (click)="resetForm()">
        <i class="fa fa-long-arrow-left mr-1" aria-hidden="true"></i>
        Volver
      </button>
    </div>
  </div>
  <div class="col-md-8">
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.overview }}</p>
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Titulo Original</h5>
            <p class="card-text">{{ movie.original_title }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Popularidad</h5>
            <p class="card-text">{{ movie.popularity }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Votos</h5>
            <p class="card-text">{{ movie.vote_count }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted">Promedio de votos</h5>
            <p class="card-text">{{ movie.vote_average * 10 | number }}%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-genero" *ngIf="movie.genres">
      <div class="col-md-4">
        <h5 class="text-muted">Generos</h5>
      </div>
      <div class="col-md-8">
        <ul class="list-group list-group-horizontal-md">
          <li class="list-group-item" *ngFor="let gen of movie.genres">
            {{ gen.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-5 mb-5" *ngIf="video && video.length > 0">
      <div class="col-md-12 text-center">
        <iframe
          width="560"
          height="315"
          [src]="video[0].key | domYoutube"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="row mt-5 mb-5" *ngIf="movie.production_companies">
      <div class="col-md-12 text-center">
        <ul class="companies">
          <li
            class="companies-item"
            *ngFor="let c of movie.production_companies"
          >
            <div class="companie-conten-img">
              <img [src]="c.logo_path | noImage" alt="c.name" />
            </div>

            <p>{{ c.name }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
